__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.git/
.gitignore
.venv/
venv/
.pre-commit-config.yaml
.pytest_cache/
notebooks/
training/
evaluation/
datasets/
tests/
experiments/
preprocessed_images/
data/
full_df.csv
PLAN.md
*.zip
